* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-image: url("terpbooth/assets/turtlebackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f6f7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
