body {
    background-image: url('assets/turtlebackground.png');
    background-size: cover;       /* makes it fill the page */
    background-position: center;  /* centers the image */
    background-repeat: no-repeat; /* no repeating tiles */
}